body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: grid;
    gap: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input , select{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 18px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

header {
    background-color: rgba(137, 63, 155, 0.33);
    color: black;
    text-align: center;
    padding: 15px;
    position: sticky;
}

.sidebar {
    height: 100vh;
    width: 150px;
    position: sticky;
    top: 0;
    left: 0;
    background: #222;
    box-sizing: border-box;
}

.sidebar h1 {
    font-size: 1.5em;
}
.nav-pills {
    list-style: none;
    padding: 0;
}
.nav-link {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #555;
}

.sidebar a {
    padding: 15px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #3b3b3b;
}

.svg-container {
    padding: 10px;
}

.section-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

#sparesUtilizationForm{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}